.toggle {
  composes: toggle from './IconButton.module.css';
}

.enter {
  background-position: 66.6667% 0;
}

.enter:hover,
.enter:focus-visible {
  background-position: 66.6667% 100%;
}

.exit {
  background-position: 83.3333% 0;
}

.exit:hover,
.exit:focus-visible {
  background-position: 83.3333% 100%;
}
