.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../assets/image/sprite_icons.png);
  background-size: 700% 200%;
  background-repeat: no-repeat;
}

.toggle::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -24px;
  width: 4px;
  border-radius: 10px;
  background: transparent;
  transition: background-color 200ms ease-out;
}

.toggle:hover::after,
.toggle:focus-visible::after {
  background: #fff;
}

.fr {
  background-position: 0 0;
}

.fr:hover,
.fr:focus-visible {
  background-position: 0% 100%;
}

.en {
  background-position: 16.6667% 0;
}

.en:hover,
.en:focus-visible {
  background-position: 16.6667% 100%;
}
