.toggle {
  composes: toggle from './IconButton.module.css';
}

.fr {
  background-position: 0 0;
}

.fr:hover,
.fr:focus-visible {
  background-position: 0 100%;
}

.en {
  background-position: 16.6667% 0;
}

.en:hover,
.en:focus-visible {
  background-position: 16.6667% 100%;
}
