.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: 540px 120px;
  background-repeat: no-repeat;
}

.toggle::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--indicator-right, -24px);
  left: var(--indicator-left, auto);
  width: 4px;
  border-radius: 10px;
  background: transparent;
  transition: background-color 200ms ease-out;
}

.toggle:hover::after,
.toggle:focus-visible::after {
  background: #fff;
}
